/* src/components/FieldCardsDisplay/FieldCardsDisplay.module.css */


  .cardImage {
    max-width: 100%; /* Make sure image fits within the container */
    height: 400px;    /* Maintain aspect ratio */
    display: block;   /* Remove any extra space below the image */
    margin-bottom: 5px;
  }

  .cardName {
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .cardDescription {
    font-size: 0.9em;
    color: #555;
  }
  .cardBack {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  
  }
  
  .cardBack img {
    max-width: 80%;
    max-height: 80%;
    object-fit: contain;
  }