/* src/components/FieldCardsDisplay/FieldCardsDisplay.module.css */


  .cardImage {
    max-width: 100%; /* Make sure image fits within the container */
    height: 200px;    /* Maintain aspect ratio */
    display: block;   /* Remove any extra space below the image */
    margin-bottom: 5px;
  }

  .cardName {
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .cardDescription {
    font-size: 0.9em;
    color: #555;
  }